﻿<div class="form-group">
    <input type="text" class="form-control" id="nama"  />
    <br/>
    <input type="button" value="Submit" class="btn btn-primary" id="inputName"/>
    <input type="button" value="Batal" class="btn btn-danger" id="cancel" />
</div>
<script type="text/javascript">
    $("#inputName").click(function ()
    {
        name = $("#nama").val();
        $(".modal").modal("hide");
    });

    $("#cancel").click(function ()
    {        
        $(".modal").modal("hide");
    });
</script>