﻿@model IEnumerable<ViewModel.BarangViewModel>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Pilih
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kode_barang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_barang)
        </th>
        <th>
            Jumlah /pcs atau /Kg
        </th>
        <th>
            @Html.DisplayNameFor(model => model.harga)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <input type="checkbox" value="" id="check_box" class="form-check-input" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kode_barang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama_barang)
        </td>
        <td>
            <input type="number" class="form-control" id="jumlah"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.harga)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td id="quantity"></td>
        <td id="harga"></td>
    </tr>
</table>
<div class="navbar-right col-sm-6">
    <input type="button" class="btn btn-primary col-sm-3" id="btn-order" value="Order" />
    <input type="button" class="btn btn-danger col-sm-3" id="btn-order" value="Batal" />
</div>
<script type="text/javascript"></script>