﻿
@{
    ViewBag.Title = "Index";
}

<div class="navbar" style="background-color:white;">
    <div class="container">
        <h2 class="text-primary"><b><a href="@Url.Action("Index", "Home")">XSIS 2.0</a></b></h2>
    </div>
</div>

<div class="container center-block">

    <div class="nav navbar-btn col-md-3">
        <div class="btn-group-vertical">
            <input type="button" name="name" value="Admin" class="col-sm-12 text-left form-control" style="margin-left:10px;background-color:white; border:1px solid blue;color:blue;" id="btn-admin" />
            <input type="button" name="name" value="Customer" class="col-sm-12 text-left form-control" style="margin-left:10px;background-color:white; border:1px solid blue;color:blue;" id="btn-customer" />
        </div>
    </div>
    <div class="body-content col-md-9">
        <div class="panel">

            <div class="panel-body" style="padding-top:0">
                <!-- Table -->
                <div id="data-list">
                    Pilih masuk sebagai admin atau customer!!!
                </div>

                <div class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content center-block" style="border:1px solid #337ab7">
                            <div class="modal-header" style="background:#337ab7;border-top-left-radius:5px;border-top-right-radius:5px;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Model Title</h4>
                            </div>
                            <div class="modal-body" style="padding-bottom:0">
                                <p>One fine body&hellip;</p>
                            </div>
                        </div><!--modal-content-->
                    </div><!--modal-dialog-->
                </div><!--modal-->
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
         $(document).ready(function () {
            GetListShop();
        });


        $("#btn-admin").click(function () {
            window.location.href = '@Url.Action("Index","Home")';
        });

        function GetMenu() {
            $.ajax({
                url: '@Url.Action("Menu","DetailPenjualan")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        };

        function GetList() {
            $.ajax({
                url: '@Url.Action("Index","DetailPenjualan")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        };

        function GetListBarang() {
            $.ajax({
                url: '@Url.Action("Index","Barang")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        };

        $("#btn-customer").click(function () {
            window.location.href = '@Url.Action("Index","Penjualan")';
        });

        function GetListShop() {
            $.ajax({
                url: '@Url.Action("ListShop","Penjualan")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        };


        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("Customer", "Penjualan")',
                type: 'get',
                success: function (result) {
                    $(".modal-content").addClass("modal-sm");
                    $(".modal-title").html("Masukan Nama");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
            return false;
        });

        var name = ""; 
        var data = {};        
	$(".btn-order").click(function () {
		var list = [];		
		$("#data-approval tbody").find("tr").each(function () {
			var id = $(this).find("#id").val();
			var kode_barang = $(this).find("#client_id").val();
            var nama_barang = $(this).find("#placment_id").val();
            var check_box = $(this).find('input[id=check_box]').prop('checked');
            var Status = $(this).find('input[id=status]').val();
            var Timesheet_date = $(this).find('input[id=timesheet_date]').val();
            var Client_name = $(this).find('input[id=client_name]').val();
            var User_approval = btn;
            if (Check_box == true) {
                approv = {
                    id: Id,
                    client_id: Client_id,
                    placment_id: Placment_id,
                    check_box: Check_box,
                    status: Status,
                    timesheet_date: Timesheet_date,
                    client_name: Client_name,
                    user_approval: User_approval
            };
            //if(approv.Check_box == true) {
            TimeSheetApprovalViewModel.push(approv);
            //list.push(approv);
            //}
            };
        });
        //console.log(list);
		//console.log(TimeSheetApprovalViewModel);

		data = {
			id: $("#id").val(),
			client_id: $("#client_id").val(),
			placment_id: $("#placment_id").val(),
			check_box: $("#check_box").val(),
			status: $("#status").val(),
			timesheet_date: $("#timesheet_date").val(),
            client_name: $("#client_name").val(),
            target_result: 0,
            discipline: 0,
            competency: 0,
            Approval:TimeSheetApprovalViewModel
		}
		//$("#text").html(data);
		console.log(data);

        if (data.Approval != "") {
            $("#error-check_box").html("");
            //alert(data.Approval);
            $.ajax({
                url: '@Url.Action("Approval","TimeSheetApproval")',
                method: 'post',
                data: { model: data },
                success: function (result) {
                    //$(".modal-dialog").attr('class', 'modal-dialog modal-lg');
                    $(".modal-title").html("Penilaian Resource");
                    $(".modal-body").css('padding-top', '0');
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
            return false;
        }
        else {
            $("#error-check_box").html("*Centang minimal satu").css({ 'color': 'red', 'font-weight': 'unset' });
            return false;
        }
    });
    </script>
}
