﻿@model IEnumerable<ViewModel.BarangViewModel>

<div class="panel-heading" style="padding-bottom:0">
    <form class="form-inline my-2 my-lg-0">
        <div type="button" id="btn-create-new" class="btn btn-primary">Buat Baru</div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:100%; border:1px solid blue;">
        <button class="btn btn-outline-success btn-primary my-2 my-sm-0" type="submit">Cari</button>
        <button class="btn btn-outline-success btn-primary my-2 my-sm-0" type="submit">Reset</button>
    </form>
</div>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kode_barang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_barang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.satuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.harga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kode_barang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama_barang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.satuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.harga)
        </td>
    
        <td>
            <div class="glyphicon glyphicon-edit btn btn-edit" data-id="@item.barang_id"></div>
            <div class="glyphicon glyphicon-trash btn btn-delete" data-id="@item.barang_id"></div>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}
<tr>
    <td id="ttl"></td>
    <td><td>
    <td id="stock"></td>
    <td id="harga"></td>
</tr>
</table>
<script type="text/javascript">
    $("#btn-create-new").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Barang")',
            type: 'get',
            success: function (result) {
                $(".modal-title").html("Membuat Baru");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
        return false;
    });

    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Barang")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
        return false;
    });

    function Calculate(obj) {
            var tr = $(obj).closest('tr');
            var prc = tr.find("input[name=Price]").val();
            var qty = tr.find("input[name=Quantity]").val();
            var amount = parseInt(prc) * qty;
            tr.find("input[name=Amount]").val(amount);
            Summary();
        }

        function Summary() {
            var qty = 0;
            var amount = 0;
            $("#order-table tbody").find("tr").each(function () {
                qty += parseFloat($(this).find("input[name=Quantity]").val());
                amount += parseFloat($(this).find("input[name=Amount]").val());
            })
            $("#stock").val(qty);
            $("#harga").val(amount);
        }
</script>
