﻿@model ViewModel.DetailPenjualanViewModel

    <h3>Apakah anda yakin akan menghapus ini?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.no_nota)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.no_nota)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.kode_barang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.kode_barang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.subtotal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subtotal)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "DetailPenjualan", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    <script type="text/javascript">
        $("#form-delete").submit(function () {            
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        alert("Save successful!");
                        $(".modal").modal("hide");
                        GetList();
                    } else {
                        alert("Error! " + result.message);
                    }
                }
            });
            return false;
        });
    </script>
