﻿@model ViewModel.DetailPenjualanViewModel

<div>    
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.id)
        <dt>
            @Html.DisplayNameFor(model => model.no_nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kode_barang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kode_barang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subtotal)
        </dd>
    </dl>
</div>
<p>
    <div class="glyphicon glyphicon-edit btn btn-edit" data-id="@Model.id"></div>@*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
<script type="text/javascript">
    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "DetailPenjualan")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
        return false;
    });
</script>