﻿@model IEnumerable<ViewModel.DetailPenjualanViewModel>
@{int i = 0;}

    <div class="panel-heading" style="padding-bottom:0">
        <form class="form-inline my-2 my-lg-0">
            <div type="button" id="btn-create-new" class="btn btn-primary">Buat Baru</div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:100%; border:1px solid blue;">
            <button class="btn btn-outline-success btn-primary my-2 my-sm-0" type="submit">Cari</button>
            <button class="btn btn-outline-success btn-primary my-2 my-sm-0" type="submit">Reset</button>
        </form>
    </div>
<p>
    
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            No
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kode_barang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.id)
            <td>                            
                @(++i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kode_barang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subtotal)
            </td>
            <td>
                <div class="glyphicon glyphicon-edit btn btn-edit" data-id="@item.id"></div>
                <div class="glyphicon glyphicon-info-sign btn btn-details" data-id="@item.id"></div>
                <div class="glyphicon glyphicon-trash btn btn-delete" data-id="@item.id"></div>
                @*@Html.ActionLink("Edit", "Edit", new {  id=item.no_nota }) |
                @Html.ActionLink("Details", "Details", new { id=item.no_nota }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.no_nota })*@
            </td>
        </tr>
    }    

</table>
<script type="text/javascript">
    $("#btn-create-new").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "DetailPenjualan")',
            type: 'get',
            success: function (result) {
                $(".modal-title").html("Membuat Baru");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
        return false;
    });

    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "DetailPenjualan")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
        return false;
    });

    $(".btn-details").click(function () {
        $.ajax({
            url: '@Url.Action("Details", "DetailPenjualan")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Detail");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
        return false;
    });


    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "DetailPenjualan")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Hapus");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
        return false;
    });



</script>