﻿<input type="button" class="btn-primary" id="btn-barang" value="Barang"/>
<input type="button" class="btn-primary" id="btn-dataPenjualan" value="Data Penjualan"/>

<script type="text/javascript">
    $("#btn-dataPenjualan").click(function () {
        GetList();
    });

    $("#btn-barang").click(function () {
        @*var url = '@Url.Action("ListBarang", "Barang")';
        window.location.href = url;*@
        GetListBarang();
    });
</script>