﻿@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@


@{
    ViewBag.Title = "Index";
}

<div class="navbar" style="background-color:white;">
    <div class="container">
        <h2 class="text-primary"><b><a href="@Url.Action("Index", "Home")">XSIS 2.0</a></b></h2>
    </div>
</div>

<div class="container center-block">

    <div class="nav navbar-btn col-md-3">
        <div class="btn-group-vertical">
            <input type="button" name="name" value="Admin" class="col-sm-12 text-left form-control" style="margin-left:10px;background-color:white; border:1px solid blue;color:blue;" id="btn-admin" />
            <input type="button" name="name" value="Customer" class="col-sm-12 text-left form-control" style="margin-left:10px;background-color:white; border:1px solid blue;color:blue;" id="btn-customer"/>
        </div>
    </div>
    <div class="body-content col-md-9">
        <div class="panel">

            <div class="panel-body" style="padding-top:0">
                <!-- Table -->
                <div id="data-list">
                    Pilih masuk sebagai admin atau customer!!!
                </div>

                <div class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content center-block" style="border:1px solid #337ab7">
                            <div class="modal-header" style="background:#337ab7;border-top-left-radius:5px;border-top-right-radius:5px;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Model Title</h4>
                            </div>
                            <div class="modal-body" style="padding-bottom:0">
                                <p>One fine body&hellip;</p>
                            </div>
                        </div><!--modal-content-->
                    </div><!--modal-dialog-->
                </div><!--modal-->
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    GetMenu();
        //});

        $("#btn-admin").click(function () {
        GetMenu();
        });

        function GetMenu() {
            $.ajax({
                url: '@Url.Action("Menu","DetailPenjualan")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        };

        function GetList() {
            @*$.ajax({
                url: '@Url.Action("Index","DetailPenjualan")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });*@
            window.location.href = '@Url.Action("Index","DetailPenjualan")';
        };

        function GetListBarang() {
            @*$.ajax({
                url: '@Url.Action("Index","Barang")',
                type: 'get',
                success: function (result) {                    
                    $("#data-list").html(result);
                }
            });*@
            window.location.href = '@Url.Action("Index","Barang")';
        };

        $("#btn-customer").click(function () {            
            GetListShop();
            
        });

        function GetListShop() {
            @*$.ajax({
                url: '@Url.Action("Index","Penjualan")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });*@
            window.location.href = '@Url.Action("Index","Penjualan")';
        };

        @*$("#btn-create-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create","DetailPenjualan")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Create New");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });*@
    </script>
}
